<a href="https://colab.research.google.com/github/om-45/DMW/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy as np
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("nba.csv")

In [ ]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
#Data Reduction
subset = df[['Name','Team','Number','Position','Age','Height','Salary']]
subset.head()

            Name            Team  Number Position   Age Height     Salary
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2  7730337.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6  6796117.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5        NaN
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10  5000000.0

In [ ]:
#Data Cleaning
subset.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Salary      12
dtype: int64

In [ ]:
subset2 = df[['Weight','College']]
subset2.head()

   Weight            College
0   180.0              Texas
1   235.0          Marquette
2   205.0  Boston University
3   185.0      Georgia State
4   231.0                NaN

In [ ]:
#function to show null value count
subset2.isnull().sum()

Weight      1
College    85
dtype: int64

In [ ]:
#using dropna function we remove null rows
subset2.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
#output after removing null rows
subset2.isnull().sum()

Weight     0
College    0
dtype: int64

In [ ]:
#for salary we are using mean function to replace null value
x = subset["Salary"].mean()
subset["Salary"].fillna(x,inplace=True)

In [ ]:
subset.isnull().sum()

Name        1
Team        1
Number      1
Position    1
Age         1
Height      1
Salary      0
dtype: int64

In [26]:
subset.dropna(inplace = True)

In [28]:
subset.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Salary      0
dtype: int64

In [34]:
subset3 = pd.merge(subset,subset2,left_index=True, right_index=True)
subset3.head()

,Name,Team,Number,Position,Age,Height,Salary,Weight,College
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,7.730337e+06,180.0,Texas
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,6.796117e+06,235.0,Marquette
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,4.842684e+06,205.0,Boston University
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,1.148640e+06,185.0,Georgia State
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,1.170960e+06,235.0,LSU

In [36]:
# Data Transformation
subset3.to_excel('plyers_data.xlsx')